{% extends 'layout.html' %}
{% block  tlmp %}
    <div class="container">
        <div style="margin-bottom: 10px">
            <a class="btn  btn-success " href="/user/add">
                {#         打开新页面跳转 target="_blank"#}
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                新增用户
            </a>
        </div>
        <div class="bs-example" data-example-id="table-within-panel">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    用户信息
                </div>
                <table class="table">
                    <thead>

                    <tr>
                        <th>ID</th>
                        <th>姓名</th>
                        <th>年龄</th>
                        <th>性别</th>
                        <th>入职时间</th>
                        <th>账户余额</th>
                        <th>所属部门</th>
                    </tr>

                    </thead>
                    <tbody>
                    {% for obj in user_list %}
                        <tr>
                            <th>{{ obj.id }}</th>
                            <th>{{ obj.name }}</th>
                            <th>{{ obj.age }}</th>
                            <th>{{ obj.get_gender_display }}</th>
                            <th>{{ obj.create_time |date:"Y-m-d" }}</th>
                            <th>{{ obj.account }}</th>
                            <th>{{ obj.depart.title }}</th>
                            <th>操作</th>
                            <td>
                                <a class="btn btn-primary btn-xs" href="/user/{{ obj.id }}/edit">
                                    编辑
                                </a>
                                <a class="btn btn-danger btn-xs" href="/user/delete/?nid={{ obj.id }}">
                                    删除
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}